*{
	inset:0;
	padding: 0;
	margin:0;
}
::selection {
	background-color: #151515;
	color           : #aa759f;
}
::placeholder {
	color: rgb(53, 53, 53);
}

:root[color-mode="dark"]{
	--background: #151515;
	--text: #dcd9c0;
	--text-alt: #525252;
}

:root[color-mode="light"]{
	--background: #dcdcdc;
	--text: #151515;
	--text-alt: #2c2b28;
}

body {
	display       : flex;
	justify-content: center;
	align-items   : center;
	height        :100vh;
	color         : var(--text);                                                    /* light mode -> #2c2b28*/
	background    : var(--background);                                                    /*light mode -> #FFFAFA */
	font-family   : "Iosevka Web";
	transition    : background-color 0.4s ease-in-out, color 0.6s ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:0em;
}
img{
	display: none;
}
img:hover {
	-webkit-box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.8);
	box-shadow        : 5px 5px 26px 5px rgba(0, 0, 0, 0.8);
}
.top{
	display: flex;
	flex-direction :column;
	justify-content : center;
	align-items : center;
	margin: 2em 0;
}
#form{
	display: flex;
	flex-direction : row;
	justify-content : space-evenly;
	align-items : center;
	margin: 1em;

}
#form span{
	font-size  : 2.7em;
}
input {
	all        : unset;
	width      : 10em;
	font-size  : 2.7em;
	font-weight: 600;
	text-align : left;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.links{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-row-gap: 2em;
	grid-column-gap: 4em;
	justify-content: space-between;
  	justify-items: center;
  	align-content: space-evenly;
  	align-items: center;
}
ul{
	height:100%;
	width:100%;
	list-style-type: none;
}
li:first-child {
	display    : inline-block;
	color      : #daa6c3;
	font-size  : 2.5em;
	font-weight: 600;
	text-align : center;
	line-height: 1.5em;
	margin-left: -0.8em;
}
a {
	color          : var(--text-alt);
	font-size      : 2.2em;
	text-decoration: none;
	display        : inline-block;
	position       : relative;
	transition     : color 0.2s ease-in-out;
}

a:hover {
	color: #e0db96;
}
/*effect-underline*/
a:after {
	content           : "";
	position          : absolute;
	left              : 0;
	display           : inline-block;
	height            : 0.15em;
	width             : 100%;
	border-bottom     : 2px solid;
	margin-top        : 20px;
	opacity           : 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition        : opacity 0.35s, transform 0.35s;
	-webkit-transform : scale(0, 1);
	transform         : scale(0, 1);
}

a:hover:after {
	color            : #e0db96;
	opacity          : 1;
	-webkit-transform: scale(1);
	transform        : scale(1);
}
a:focus {
	color        : #e0db96;
	outline-style: none;
	box-shadow   : none;
	border-color : transparent;
}
a:focus:after {
	color            : #e0db96;
	opacity          : 1;
	-webkit-transform: scale(1);
	transform        : scale(1);
}
@media (min-width: 1200px) {
	img {
		display: block;
		max-height: 30em;
		border-radius: 5px;
		transition   : box-shadow 0.3s ease-in-out;
		box-shadow   : rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}
	.container{
		gap:10em;
	}
	#form span{
		font-size  : 1.7em;
	}
	input {
		font-size  : 1.7em;
	}
	li:first-child {
		font-size  : 1.5em;
	}
	a {
		font-size      : 1.2em;
	}

}
